.pre-fight-page-container {
  //border: 5px dashed blue;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  //overflow: hidden;
  align-items: center;

  /*---------------
CHARACTER - HERO
------------*/

  .character-hero-container {
    //border: 1px solid black;
    position: absolute;
    top: 40px;
    width: 450px;
    height: 460px;
    z-index: 1;

    @media all and (max-width: 1260px) {
      height: 350px;
      width: 350px;
    }

    .display-name-container {
      position: absolute;
      //border: 1px solid green;
      width: 100%;
      bottom: -120px;

      &.blue h1 {
        text-shadow: 0 0 6px rgba(0,0,255,0.0), 0 2px 38px rgba(0,0,0,0.1);
      }

      &.red h1{
        text-shadow: 0 0 6px rgba(255,0,0,0.0), 0 2px 38px rgba(0,0,0,0.1);
      }

      @media all and (max-width: 940px) {

        h1 {
          font-size: 3em;
        }
      }
    }

    img {
      //border: 1px solid red;
      bottom: 0;
      position: absolute;
      height: 100%;
    }

    @media all and (max-width: 940px) {
      height: 260px;
      width: 260px;
    }

    @media all and (max-width: 680px) {
      height: 180px;
      width: 180px;
    }

    &.player1 {
      left: 120px;
      //text-align: right;
      text-align: center;

      img {
        right: 0;
      }

      @media all and (max-width: 1360px) {
        left: 10px;
      }

      @media all and (max-width: 940px) {
        //top: 0;
      }
    }

    &.player2 {
      right: 120px;
      //text-align: left;
      text-align: center;

      img {
        left: 0;
        transform: rotateY(180deg);
      }

      @media all and (max-width: 1360px) {
        right: 10px;
      }

      @media all and (max-width: 940px) {
        //top: 300px;
      }

      @media all and (max-width: 680px) {
        //top: 380px;
      }
    }
  }

  .logo-vs-container {
    width: 100%;
    //border: 6px dashed orange;
    text-align: center;

    @media all and (max-width: 1340px) {
      img {
        width: 150px;
      }
    }

    @media all and (max-width: 940px) {
      img {
        width: 100px;
      }
    }

    @media all and (max-width: 680px) {
      margin-top: 80px;

      img {
        width: 60px;
      }
    }
  }
}