.character-list-container {
  //border: 2px solid orange;
  position: fixed;
  bottom: 140px;
  width: 100%;
  perspective: 1200px;

  .logo-container {
    //border: 2px solid orange;
    width: 150px;
    margin: 15px auto;
    animation-duration: 1s;

    img {
      width: 100%;
    }
  }

  .heading-container {
    //border: 1px solid orange;
    position: relative;
    top: 0;
    text-align: center;

    h1 {
      font-size: 3em;
    }
  }

  .space {
    opacity: 0 !important;
  }

  .character-list {
    //border: 12px dashed red;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 538px;
    transform: rotateX(35deg);

    .character {
      //float: left;
      filter: grayscale(100%);
      margin: 5px;
      width: 120px;
      height: 120px;
      border: 2px solid #440000;
      box-shadow: 0 42px 48px rgba(0,0,0,0.4);
      transition: .1s ease;

      img {
        width: 100%;
      }

      &:hover {
        transform: translateY(0px);
        filter: grayscale(10%);
        //box-shadow: 0 35px 13px rgba(0,0,0,0.4);
      }
    }
  }
}