/*---------
  FONTS
 -------*/

@font-face {
  font-family: Saiyan;
  src: url(../fonts/Saiyan-Sans.ttf);
}

@font-face {
  font-family: Dimitri;
  src: url(../fonts/DIMIS___.TTF);
}

@font-face {
  font-family: Godzilla;
  src: url(../fonts/Godzilla.ttf);
}

@font-face {
  font-family: Yellow;
  src: url(../fonts/YELLOW.TTF);
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

/*---------
  BODY
 -------*/

body {
  margin: 0;
  padding: 0;
  font-family: Yellow, sans-serif;
  //background: linear-gradient(to bottom, red, yellow, darken(red, 20%));
  //background: linear-gradient(to bottom, #999999, #444444, #666666);
  background: linear-gradient(to bottom, #999999, #bbbdb9, #6f6f72);
}

.app {
  //border: 1px dashed orange;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  max-width: 1600px;
  margin: auto;
  max-height: 800px
}

/*---------
  HEADINGS
 -------*/

h1 {
  font-size: 5em;
  //color: #440000;
  margin: 15px 0;
}

h2 {
  font-size: 2em;
  margin: 15px 0;
  text-shadow: 0 2px 6px rgba(0,0,0,0.5);
}

/*-----------
  LOGO
 ------*/

.logo-container {
  //border: 2px solid orange;
  cursor: pointer;
  width: 150px;
  margin: 15px auto;
  animation-duration: 1s;
  transition: 1s;

  img {
    width: 100%;
  }
}

.dbz-logo-container {
  //border: 2px solid orange;
  cursor: pointer;
  width: 450px;
  margin: 15px auto;
  //animation-duration: 1s;
  transition: 1s;
  animation-duration: 2s;

  img {
    width: 100%;
  }
}

/***********
  SECTION
***********/

.section {
  border: 3px solid #666666;
  border-radius: 4px;
  padding: 30px;
  margin: 15px auto;
  width: 300px;
}

/**********
  BUTTONS
**********/

.action-btn {
  border-radius: 28px;
  //text-shadow: -1px -1px 0px rgba(255,255,255,0.8), 1px 1px 2px rgba(0,0,0,0.5);
  padding: 13px 15px;
  width: 240px;
  font-family: Roboto, sans-serif;
  letter-spacing: 1px;
  background: linear-gradient(to top, #d3d3f3, #bdbdbd, #d2c2c2);
  font-weight: bold;
  color: #222222;
  font-size: 1.5em;
  //transition: .4s ease;
  cursor: pointer;
  animation-duration: 2s;
  box-shadow:  0 10px 44px rgba(0,0,0,0.1), 0 -1px 2px rgba(0,0,0,0.5), 0 1px 2px rgba(0,0,0,0.5), inset 0 1px 2px rgba(255,255,255,0.5), inset 0 -1px 2px rgba(0,0,0,0.5);
  transition: .3s ease;
  position: relative;
  align-items: center;
  z-index: 2;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 28px;
    border: 1px solid #bbbbbb;
    //transition: .6s ease;
    z-index: 0;
    opacity: 1;
    box-shadow: inset 0 0 12px rgba(0,0,0,0);
  }


  &:hover, &:focus {
    color: #3d3d3d;

    &:before {
      width: 110%;
      height: 140%;
      border: 1px solid #000000;
      top: -20%;
      left: -5%;
      border-radius: 48px;
      opacity: 0;
      transition: 1s ease;
      box-shadow: inset 0 0 12px rgba(255,255,255,0.4);
    }
  }

  &:active {
    //transform: translateY(2px);
    transition: none;
    box-shadow: 0 2px 26px rgba(0,0,0,0.6), inset 0 -1px 2px rgba(0,0,0,0.5), inset 0 1px 2px rgba(255,255,255,0.5);
  }

  &.waiting {
    animation: Waiting 2.5s linear infinite;
    transition: .3s ease;
    animation-delay: 3s;
  }
}

@keyframes Waiting {
  0% {
    color: #223232;
    box-shadow: 0 0 0px #223232;
  }

  50% {
    color: #46bf66;
    box-shadow: 0 0 12px #46bf66;
    //text-shadow: 0 0 16px greenyellow;
  }

  100% {
    color: #223232;
    box-shadow: 0 0 0px #223232;
  }
}