/********
  FONTS
 *******/

@font-face {
  font-family: Saiyan;
  src: url(../fonts/Saiyan-Sans.ttf);
}

@font-face {
  font-family: Dimitri;
  src: url(../fonts/DIMIS___.TTF);
}

@font-face {
  font-family: Godzilla;
  src: url(../fonts/Godzilla.ttf);
}

@font-face {
  font-family: Yellow;
  src: url(../fonts/YELLOW.TTF);
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

/*******
  BODY
 ******/

body {
  margin: 0;
  padding: 0;
  font-family: Yellow, sans-serif;
  background: linear-gradient(to bottom, #c1c1c1, #d8dad6, #a0a0a4);
}

.app {
  margin: auto;
  width: 100%;
  height: 100vh;
  max-width: 1600px;
  max-height: 800px;
  overflow: hidden;
  position: relative;
}

/***********
  HEADINGS
 **********/

h1 {
  font-size: 5em;
  margin: 15px 0;
}

h2 {
  font-size: 2em;
  margin: 15px 0;
  text-shadow: 0 2px 6px rgba(0,0,0,0.5);
}

/*******
  LOGO
 ******/

.logo-container {
  width: 150px;
  transition: 1s;
  cursor: pointer;
  margin: 15px auto;
  animation-duration: 1s;

  img {
    width: 100%;
  }
}

.dbz-logo-container {
  width: 450px;
  transition: 1s;
  cursor: pointer;
  margin: 15px auto;
  animation-duration: 2s;

  img {
    width: 100%;
  }
}

/***********
  SECTION
***********/

.section {
  width: 300px;
  padding: 30px;
  margin: 15px auto;
  border-radius: 4px;
  border: 3px solid #666666;
}

/**********
  BUTTONS
**********/

.action-btn {
  z-index: 2;
  color: #3d3d3d;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
  position: relative;
  padding: 13px 30px;
  border-radius: 28px;
  align-items: center;
  letter-spacing: 1px;
  transition: .3s ease;
  animation-duration: 2s;
  font-family: Roboto, sans-serif;
  background: linear-gradient(to top, #d3d3f3, #bdbdbd, #d2c2c2);
  box-shadow:  0 10px 44px rgba(0,0,0,0.1), 0 -1px 2px rgba(0,0,0,0.5), 0 1px 2px rgba(0,0,0,0.5), inset 0 1px 2px rgba(255,255,255,0.5), inset 0 -1px 2px rgba(0,0,0,0.5);

  &:before {
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 1;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 28px;
    border: 1px solid #bbbbbb;
    box-shadow: inset 0 0 12px rgba(0,0,0,0);
  }


  &:hover, &:focus {
    color: #4d4d4d;

    &:before {
      top: -20%;
      left: -5%;
      opacity: 0;
      width: 110%;
      height: 140%;
      transition: 1s ease;
      border-radius: 48px;
      border: 1px solid #000000;
      box-shadow: inset 0 0 12px rgba(255,255,255,0.4);
    }
  }

  &:active {
    transition: none;
    box-shadow: 0 2px 26px rgba(0,0,0,0.6), inset 0 -1px 2px rgba(0,0,0,0.5), inset 0 1px 2px rgba(255,255,255,0.5);
  }

  &.waiting {
    animation-delay: 3s;
    transition: .3s ease;
    animation: Waiting 2.5s linear infinite;
  }
}

@keyframes Waiting {
  0% { color: #223232; box-shadow: 0 0 0 #223232; }
  50% { color: #46bf66; box-shadow: 0 0 12px #46bf66; }
  100% { color: #223232; box-shadow: 0 0 0px #223232; }
}