/***************************
  CHARACTER-LIST-CONTAINER
 **************************/

.character-list-container {
  top: 100px;
  width: 100%;
  z-index: 2;
  position: absolute;
  perspective: 1200px;

  @media all and (max-width: 1320px) {

    .logo-container {
      width: 100px;
    }
  }

  @media all and (max-width: 1320px) {
    top: 260px;

    .logo-container {
      display: none !important;
    }
  }

  @media all and (max-width: 740px) {
    top: 400px;
  }

  /***********
    MESSAGES
   **********/

  .heading-container {
    top: 0;
    position: relative;
    text-align: center;
    animation-duration: 1.5s;

    h1 {
      font-size: 3em;
    }

    &.blue h1 {
      text-shadow: 0 0 6px rgba(0,0,255,0.0), 0 2px 38px rgba(0,0,0,0.1);;
    }

    &.red {
      text-shadow: 0 0 6px rgba(255,0,0,0.0), 0 2px 38px rgba(0,0,0,0.1);
    }

    @media all and (max-width: 1320px) {

      h1 {
        font-size: 1.8em;
      }
    }
  }

  .space {
    opacity: 0 !important;
  }

  /*****************
    CHARACTER-LIST
   ****************/

  .character-list {
    margin: auto;
    display: flex;
    transition: 2s;
    flex-wrap: wrap;
    max-width: 545px;
    transform: rotateX(35deg);

    @media all and (max-width: 700px) {
      width: 80% !important;
      transform: rotateX(0deg);
    }

    &.hide-menu {
      display: none !important;
      transition: 1s;
    }
    
    /************
      CHARACTER
     ***********/

    .character {
      margin: 5px;
      width: 120px;
      height: 120px;
      cursor: pointer;
      transition: .1s ease;
      filter: grayscale(100%);
      border: 3px solid #440000;
      box-shadow: 0 22px 18px rgba(20,0,42,0.2);

      @media all and (max-width: 1020px) {
        width: 70px;
        height: 70px;
      }

      @media all and (max-width: 700px) {
        margin: 1%;
        height: auto;
        width: 21% !important;
        transform: rotateX(0deg);
      }

      img {
        width: 100%;
      }

      &:hover {
        filter: grayscale(10%);
        transform: translateY(0px);
      }

      &.player1:hover, &.active-player1 {
        filter: grayscale(0);
        border: 3px solid red;
        box-shadow: 0 22px 88px rgba(0,0,0,0.4), 0 12px 38px rgba(255,0,0,0.6);
      }

      &.player2:hover, &.active-player2 {
        filter: grayscale(0);
        border: 3px solid blue;
        box-shadow: 0 42px 48px rgba(0,0,0,0.4), 0 12px 38px rgba(0,0,255,0.6);
      }
    }

    @media all and (max-width: 1020px) {
      width: 345px;
    }
  }
}

/**********
  HELPERS
 *********/

.spin-menu-item {
  animation: Spin 1s linear infinite;
  font-size: 2em;
  opacity: .5;
  top: 40%;
  display: flex;
  align-items: center;
  margin-top: 15px;
  width: 100%;
}

@keyframes Spin {
  from { transform: rotateZ(0deg); }
  to { transform: rotateZ(359deg); }
}