/**********************
  CHARACTER CONTAINER
 *********************/

.character-container {
  top: 0;
  z-index: 3;
  width: 400px;
  height: 100%;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  align-items: center;
  animation-duration: .5s;

  @media all and (max-width: 1320px) {
    width: 280px;
  }

  @media all and (max-width: 1320px) {
    width: 260px;
  }

  @media all and (max-width: 740px) {
   height: 50%;
  }

  &.get-closer-player1 {
    top: -40px;
    margin-left: 150px;
    transition: 1.5s ease;

    @media all and (max-width: 1340px) {
      margin-left: 50px;
    }
  }

  &.get-closer-player2 {
    top: -40px;
    margin-right: 150px;
    transition: 1.5s ease;

    @media all and (max-width: 1340px) {
      margin-right: 50px;
    }
  }

  &.player-2 {
    right: 0;
    text-align: right;
  }

  /************
    CHARACTER
  *************/

  .character {
    z-index: 2;
    width: 100%;
    height: 400px;
    text-align: center;
    position: relative;
    margin-top: -160px;

    &:after {
      right: 30%;
      width: 60%;
      content: '';
      height: 15px;
      bottom: 50px;
      border-radius: 50%;
      position: absolute;
      background: transparent;
      box-shadow: 0 40px 45px rgba(2,0,1,0.3);
    }

    &.p2 {
      right: 0;

      img {
        transform: rotateY(180deg);
      }
    }

    img {
      margin: auto;
      height: 400px;
      position: relative;
    }

    @media all and (max-width: 1320px) {
      width: 300px;
      height: auto;

      img {
        height: 300px;
      }

      &:after {
        bottom: 140px;
      }
    }

    @media all and (max-width: 740px) {
      width: 200px;
      height: auto;
      margin-top: 0;

      img {
        height: 200px;
      }

      &:after {
        bottom: 40px;
      }
    }
  }

  /*****************
    CONFIRM BUTTON
  *****************/

  .select-btn-container {
    width: 100%;
    margin-top: 245px;
    text-align: center;
    position: absolute;
    z-index: 5 !important;

    @media all and (max-width: 740px) {
      margin-top: 160px;
    }
  }

  /***************************
    CHARACTER - DISPLAY NAME
  ***************************/

  .display-name-container {
    z-index: 2;
    width: 100%;
    margin-top: 165px;
    text-align: center;
    position: absolute;
    animation-duration: .8s;

    &.blue h1 {
      text-shadow: 0 0 6px rgba(0,0,255,0.0), 0 2px 38px rgba(0,0,0,0.1);
    }

    &.red h1{
      text-shadow: 0 0 6px rgba(255,0,0,0.0), 0 2px 38px rgba(0,0,0,0.1);
    }

    h1 {
      font-size: 3em;
    }

    @media all and (max-width: 1320px) {
      margin-top: 140px;
    }

    @media all and (max-width: 740px) {
      margin-top: -120px;
      h1 {
        font-size: 1.8em;
      }
    }
  }
}

/**********
  HELPERS
 *********/

.invisible {
  opacity: 0;
}

.spin {
  top: 40%;
  opacity: .5;
  font-size: 2em;
  position: absolute;
  animation: Spin 1s linear infinite;
}

@keyframes Spin {
  from { transform: rotateZ(0deg); }
  to { transform: rotateZ(359deg); }
}