/*---------------
 CHARACTER CONTAINER
 ------------*/

.character-container {
  //border: 1px solid orange;
  position: absolute;
  height: 100%;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  animation-duration: .5s;
  margin-left: 0;
  margin-right: 0;
  top: 0;
  z-index: 3;

  @media all and (max-width: 1320px) {
    width: 200px;
  }

  @media all and (max-width: 740px) {
   height: 50%;
  }

  &.get-closer-player1 {
    margin-left: 150px;
    top: -40px;
    transition: 1.5s ease;

    @media all and (max-width: 1340px) {
      margin-left: 50px;
    }
  }

  &.get-closer-player2 {
    margin-right: 150px;
    top: -40px;
    transition: 1.5s ease;

    @media all and (max-width: 1340px) {
      margin-right: 50px;
    }
  }

  &.player-2 {
    right: 0;
  }

  /*---------------
    CHARACTER
  ------------*/

  .character {
    height: 400px;
    width: 100%;
    //border: 3px solid green;
    text-align: center;
    position: relative;
    z-index: 2;
    margin-top: -60px;

    &:after {
      position: absolute;
      bottom: 40px;
      right: 30%;
      content: '';
      background: transparent;
      width: 40%;
      border-radius: 50%;
      height: 15px;
      box-shadow: 0 40px 45px rgba(0,0,0,0.7);
    }

    &.p2 {

      img {
        transform: rotateY(180deg);
      }
    }

    img {
      margin: auto;
      //border: 1px solid darkred;
      height: 400px;
      position: relative;
    }

    @media all and (max-width: 1320px) {
      width: 200px;
      height: auto;

      img {
        height: 300px;
      }

      &:after {
        bottom: 140px;
      }
    }

    @media all and (max-width: 740px) {
      width: 200px;
      margin-top: 0;
      height: auto;

      img {
        height: 200px;
      }

      &:after {
        bottom: 40px;
      }
    }
  }

  /*---------------
    CONFIRM BUTTON
   ------------*/

  .select-btn-container {
    //border: 1px solid blue;
    position: absolute;
    width: 100%;
    margin-top: 245px;
    text-align: center;
    z-index: 5 !important;

    @media all and (max-width: 740px) {
      margin-top: 160px;
    }
  }

  /*---------------
    CHARACTER - DISPLAY NAME
   ------------*/

  .display-name-container {
    //border-bottom: 2px solid black;
    position: absolute;
    width: 100%;
    margin-top: 245px;
    text-align: center;
    z-index: 2;
    animation-duration: .8s;

    &.blue h1 {
      text-shadow: 0 0 6px rgba(0,0,255,0.4), 0 24px 38px rgba(0,0,0,0.6);;
    }

    &.red h1{
      text-shadow: 0 0 6px rgba(255,0,0,0.6), 0 24px 38px rgba(0,0,0,0.6);
    }

    h1 {
      font-size: 3em;
    }

    @media all and (max-width: 1320px) {
      margin-top: 140px;
    }

    @media all and (max-width: 740px) {

      h1 {
        font-size: 1.8em;
      }
    }
  }
}